*.root
*.pdf
*.list
*.cxx~
*.o
*.d
*.so
*.pcm
*Dict*.cxx
*.csv
*.exe
*.eps
*.svg
*.jpg
*.png
*.dat
*.zipr
*.txt
main*.bib
*.aux
*.bbl
*.blg
*.log
*.nav
*.snm
*.out
*.vrb
*.toc
*.run.xml
*.synctex.gz
.DS_store
run
tes
get
log
out
text
test
*draft*
No*
*Backup*
*.dSYM
.vscode/
